<div class="container">
  <div class="banner">
    <%= image_tag 'https://s3.amazonaws.com/personal-hosting-slin/logo-white.png', size: '200x200' %>
    <div class="personal-info">
      <h2>SHIRLEY LIN</h2>
      full stack web developer <br><br>
      NY, NY <br><br>
      <div class="links">
        <a href="https://github.com/slin12" target="_blank">github</a>
        <a href="https://medium.com/@shirleyl" target="_blank">blog</a>
        <a href="https://www.linkedin.com/in/shirley-lin-06571467/" target="_blank">linkedin</a>
      </div>

    </div>
  </div>
  <!-- ABOUT ME -->
  <div class="about">
    <h2>--- ABOUT ME ---</h2>
    <div class="aboutme-container">
      <div class="description">
        <h2>BACKGROUND</h2>
        <p>I'm a full stack web developer with a background in fashion and knitwear. I graduated from the Fashion Institute of Technology from 2016 with Summa Cum Laude honors and a specialization in Knitwear, before working in a tech-forward knitting machine manufacturer. After seeing the power of technology, I made the decision to attend the Flatiron School to grow my skills and expand my skillset.</p>
        <p>I am a passionate, quick-learning individual that has a thirst for knowledge. In my time in the fashion industry, I've worked frequently on multiple client-focused projects at a time with very tight deadlines. Fashion Technology is a wide-open market that I see limitless potential in; though my skills in design, product development, and problem solving can be applicable across all platforms.</p>
      </div>

      <div class="personal-photo">
        <img src="https://s3.amazonaws.com/personal-hosting-slin/LINSHIRLEY-SKOCIR-KNITWEAR-0L3A6589.jpg">
      </div>

      <div class="description" id="skills">
        <h2>SKILLS</h2>
        <div>
          <h4>TECHNICAL</h4>
          <p>Ruby on Rails <br>
            React & Redux <br>
            Javascript <br>
            Git <br>
            SQLite <br>
            Postgres / SQLite <br>
            RESTful Conventions <br>
            HTML/CSS <br>
            Materialize / Bootstrap / Bulma <br>
            Object Oriented Design
          </p>
        </div>
        <div>
          <h4>PROFESSIONAL</h4>
          <p>Adobe Photoshop <br>
            Adobe Illustrator <br>
            Microsoft Office <br>
            Teamwork & Leadership <br>
            Quick Adaptation <br>
            Problem Solving <br>
            Product Development
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- PROJECTS -->
  <div class="projects">
    <h2>--- FEATURED PROJECTS --- </h2>

    <!-- PROJECT ONE -->
    <div class="project-left">
      <div id="hidden-title">
        <h2 class="blue"><a href="https://threadd-adc5f.firebaseapp.com">thread'd</a></h2>
        <p>
          Thread'd is an unique, interactive experiment for building custom & 3D t-shirts.
        </p>
      </div>
      <div class="photo">
        <a href="https://threadd-adc5f.firebaseapp.com">
          <img src="https://s3.amazonaws.com/personal-hosting-slin/threadd-screenshot.png">
        </a>
        <div class="hidden-info">
          <p>live demo: <a href="https://threadd-adc5f.firebaseapp.com">here</a> <br><br>
          </p>
          <div class="project-info">
            <div class="built-with">
              <p class="blue">BUILT USING:</p>
                Ruby On Rails Back-End <br>
                React + Redux Front-End <br>
                Amazon Web Services S3<br>
                ThreeJS & Custom Blender Models <br>
                P5JS & P5.sound <br>
                Custom CSS <br>

            </div>

            <div class="features">
              <p class="blue">KEY FEATURES:</p>
              <p>Interactive P5JS sketches<br>
                Scroll, Sound, & Mouse input
                3D Rendered T-Shirt & Orbit Controls <br>
                Custom Color Schemes <br>
                Easy Social Media Sharing <br>
            </div>
          </div>

        </div>
      </div>
      <div class="description">
        <h2><a href="https://threadd-adc5f.firebaseapp.com">thread'd</a></h2>
        <p>live demo: <a href="https://threadd-adc5f.firebaseapp.com">here</a> <br><br>
        </p>
        <p>
          Thread'd is an unique, interactive experiment for building custom & 3D t-shirts.
        </p>
        <div class="project-info">
          <div class="built-with">
            <p class="blue">BUILT USING:</p>
              Ruby On Rails Back-End <br>
              React + Redux Front-End <br>
              Amazon Web Services S3<br>
              ThreeJS & Custom Blender Models <br>
              P5JS & P5.sound <br>
              Custom CSS <br>
          </div>

          <div class="features">
            <p class="blue">KEY FEATURES:</p>
            <p>Interactive P5JS sketches<br>
              Scroll, Sound, & Mouse input
              3D Rendered T-Shirt & Orbit Controls <br>
              Custom Color Schemes <br>
              Easy Social Media Sharing <br>
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECT TWO  -->
    <div class="project-right">
      <div id="hidden-title">
        <h2 class="blue"><a href="https://jamesgraham320.github.io/noggle-app/">noggle</a></h2>
        <p>
          noggle is a live multiplayer word scrambling game with sound effects & beautiful design
        </p>
      </div>
      <div class="photo">
        <a href="https://jamesgraham320.github.io/noggle-app/">
          <img src="https://s3.amazonaws.com/personal-hosting-slin/noggle-screenshot.png">
        </a>
        <div class="hidden-info">
          <p>live demo: <a href="https://jamesgraham320.github.io/noggle-app/">here</a> <br><br>
          </p>
          <div class="project-info">
            <div class="built-with">
              <p class="blue">BUILT USING:</p>
                Ruby On Rails Back-End <br>
                Vanilla Javascript Front-End <br>
                Anagramica API <br>
                Action Cable Websockets<br>
                Postgres
            </div>

            <div class="features">
              <p class="blue">KEY FEATURES:</p>
              <p>Live Chat<br>
                Realtime Score Updating <br>
                Randomly Generated Words <br>
                Sound Effects <br>
                High Score Boards
            </div>
          </div>

        </div>
      </div>
      <div class="description">
        <h2><a href="https://jamesgraham320.github.io/noggle-app/">noggle</a></h2>
        <p>live demo: <a href="https://jamesgraham320.github.io/noggle-app/">here</a> <br><br>
        </p>
        <p>
          noggle is a live multiplayer word scrambling game with sound effects & beautiful design
        </p>
        <div class="project-info">
          <div class="built-with">
            <p class="blue">BUILT USING:</p>
              Ruby On Rails Back-End <br>
              Vanilla Javascript Front-End <br>
              Anagramica API <br>
              Action Cable Websockets<br>
              Postgres
          </div>

          <div class="features">
            <p class="blue">KEY FEATURES:</p>
            <p>Live Chat<br>
              Realtime Score Updating <br>
              Randomly Generated Words <br>
              Sound Effects <br>
              High Score Boards
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECT THREE -->
    <div class="project-left">
      <div id="hidden-title">
        <h2 class="blue"><a href="https://slin12.github.io/bulletdash/dashboard">bulletdash</a></h2>
        <p>
          bulletdash is a personal dashboard for notes, tasks, and an activity tracker.
        </p>
      </div>
      <div class="photo">
        <a href="https://slin12.github.io/bulletdash/dashboard">
          <img src="https://s3.amazonaws.com/personal-hosting-slin/bulletdash-screenshot.png">
        </a>
        <div class="hidden-info">
          <p>live demo: <a href="https://slin12.github.io/bulletdash/dashboard">here</a> <br><br>
          </p>
          <div class="project-info">
            <div class="built-with">
              <p class="blue">BUILT USING:</p>
                Ruby On Rails Back-End <br>
                React Front-End <br>
                React Beautiful Drag & Drop<br>
                Chart JS<br>
                Moment JS<br>
                Milligram CSS Framework <br>

            </div>

            <div class="features">
              <p class="blue">KEY FEATURES:</p>
              <p>Auto Saving Note Section<br>
                Add, Delete, and Reorder Tasks
                Chart JS Fluid Step Tracker <br>
                JWT Tokens for Authorization <br>
                Color Scheme Options
            </div>
          </div>

        </div>
      </div>
      <div class="description">
        <h2><a href="https://slin12.github.io/bulletdash/dashboard">bulletdash</a></h2>
        <p>live demo: <a href="https://slin12.github.io/bulletdash/dashboard">here</a> <br><br>
        </p>
        <p>
          bulletdash is a personal dashboard for notes, tasks, and an activity tracker.
        </p>
        <div class="project-info">
          <div class="built-with">
            <p class="blue">BUILT USING:</p>
              Ruby On Rails Back-End <br>
              React Front-End <br>
              React Beautiful Drag & Drop<br>
              Chart JS<br>
              Moment JS<br>
              Milligram CSS Framework <br>

          </div>

          <div class="features">
            <p class="blue">KEY FEATURES:</p>
            <p>Auto Saving Note Section<br>
              Add, Delete, and Reorder Tasks
              Chart JS Fluid Step Tracker <br>
              JWT Tokens for Authorization <br>
              Color Scheme Options
          </div>
        </div>
      </div>
    </div>

    <!-- PROJECT FOUR -->
    <div class="project-right">
     <div id="hidden-title">
       <h2 class="blue">Canvas Experiments</h2>
       <p>
         Drawing Experiments built with HTML Canvas and Javascript.
       </p>
     </div>
     <div class="photo">
       <div class="demo" id="0">
         <div class="cp_embed_wrapper"><iframe id="cp_embed_QOJXyG" src="//codepen.io/shirshirlove/embed/QOJXyG?height=400&amp;theme-id=dark&amp;slug-hash=QOJXyG&amp;default-tab=result&amp;user=shirshirlove&amp;embed-version=2&amp;pen-title=Snow%20Days" scrolling="no" frameborder="0" height="400" allowtransparency="true" allowfullscreen="true" name="CodePen Embed" title="Snow Days" class="cp_embed_iframe " style="width: 100%; overflow: hidden;"></iframe></div>
         <script async="" src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
       </div>
       <div id="arrows">
         <a href="#" id="left-arrow">«</a> <a href="#" id="right-arrow">»</a>
       </div>
       <div class="hidden-info">
         <p>codepen: <a href="https://codepen.io/shirshirlove/full/QOJXyG/">here</a> <br>
         </p>
         <div class="project-info">
           <div class="built-with">
             <p class="blue">BUILT USING:</p>
               HTML Canvas <br>
               Javascript <br>
           </div>

           <div class="features">
             <p class="blue">KEY FEATURES:</p>
             <p>Mouse Interactivity<br>
               Object Oriented Javascript <br>
           </div>
         </div>

       </div>
     </div>
     <div class="description">
       <h2>Canvas Experiments</h2>
       <p>codepen: <a href="https://codepen.io/shirshirlove/">here</a> <br>
       </p>
       <p>
         Drawing Experiments built with HTML Canvas and Javascript.
       </p>
       <div class="project-info">
         <div class="built-with">
           <p class="blue">BUILT USING:</p>
             HTML Canvas <br>
             Javascript <br>
         </div>

         <div class="features">
           <p class="blue">KEY FEATURES:</p>
           <p>Mouse Interactivity<br>
             Object Oriented Javascript <br>
         </div>
       </div>
     </div>


</div>

  <div class="contact">
    <div class="title">
      <h2>CONTACT ME</h2>
    </div>
    <div id="links">
      <a href="mailto:shirley@shirleyl.in" target="_top"><b>shirley@shirleyl.in</b> <br></a>
      <a href="https://github.com/slin12" target="_blank">github</a> //
      <a href="https://medium.com/@shirleyl" target="_blank">blog</a> //
      <a href="https://www.linkedin.com/in/shirley-lin-06571467/" target="_blank">linkedin</a>

    </div>
    </div>
</div>
