<div class="container">
  <div class="banner">
    <%= image_tag 'https://s3.amazonaws.com/personal-hosting-slin/logo-white.png', size: '200x200' %>
    <div class="personal-info">
      <h2>SHIRLEY LIN</h2>
      full stack web developer <br><br>
      NY, NY <br><br>
      <div class="links">
        <a href="https://github.com/slin12" target="_blank">github</a>
        <a href="https://medium.com/@shirleyl" target="_blank">blog</a>
        <a href="https://www.linkedin.com/in/shirley-lin-06571467/" target="_blank">linkedin</a>
      </div>

    </div>
  </div>
  <!-- ABOUT ME -->
  <div class="about">
    <h2>--- ABOUT ME ---</h2>
    <div class="aboutme-container">
      <div class="description">
        <h2>BACKGROUND</h2>
        <p>I'm a full stack web developer with a background in fashion and knitwear. I graduated from the Fashion Institute of Technology from 2016 with Summa Cum Laude honors and a specialization in Knitwear, before working in a tech-forward knitting machine manufacturer. After seeing the power of technology, I made the decision to attend the Flatiron School to grow my skills and expand my skillset.</p>
        <p>I am a passionate, quick-learning individual that has a thirst for knowledge. In my time in the fashion industry, I've worked frequently on multiple client-focused project at time with very tight deadlines. Fashion Technology is a wide-open market that I see limitless potential in; though my skills in design, product development, and problem solving can be applicable across all platforms.</p>
      </div>

      <div class="personal-photo">
        <%= image_tag 'https://s3.amazonaws.com/personal-hosting-slin/LINSHIRLEY-SKOCIR-KNITWEAR-0L3A6589.jpg' %>
      </div>

      <div class="description">
        <h2>SKILLS</h2>
        <div>
          <h4>TECHNICAL</h4>
          <p>Ruby on Rails <br>
            Ruby <br>
            Javascript <br>
            Github <br>
            SQLite <br>
            Postgres <br>
            RESTful Conventions <br>
            HTML/CSS
          </p>
        </div>
        <div>
          <h4>PROFESSIONAL</h4>
          <p>Adobe Photoshop <br>
            Adobe Illustrator <br>
            Microsoft Office <br>
            Teamwork & Leadership <br>
            Quick Adaptation <br>
            Problem Solving <br>
            Product Development
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- PROJECTS -->
  <div class="projects">
    <h2>--- FEATURED PROJECTS --- </h2>

    <div class="project-one">
      <div class="photo">
        <%= image_tag "https://s3.amazonaws.com/personal-hosting-slin/eventspace-screenshot.jpg", size: "770x450" %>
      </div>
      <div class="description">
        <h2>eventSPACE</h2>
        <p>live demo: <a href="https://event-space.herokuapp.com/">here</a> <br><br>
          <span class="blue">DEMO CREDENTIALS:</span><br>
          <small>email: s.lin12@gmail.com</small><br>
          <small>password: password</small>
        </p>
        <p>
          eventSPACE is an event-planning web app designed to make making get-togethers easy.
        </p>
        <div class="project-info">
          <div class="built-with">
            <p class="blue">BUILT USING:</p>
              Ruby On Rails <br>
              Yelp Fusion API <br>
              Postgres <br>
              Amazon Web Services S3 <br>
              RESTful conventions
          </div>

          <div class="features">
            <p class="blue">KEY FEATURES:</p>
            <p>Secure Log In <br>
              Friend System <br>
              Event Look Up <br>
              Commenting <br>
              Private/Public Events
          </div>
        </div>
      </div>
    </div>

    <div class="project-two">
      <div class="photo">
        <%= image_tag "https://s3.amazonaws.com/personal-hosting-slin/connect4-screenshot.png", size: "770x450" %>
      </div>
      <div class="description">
        <h2>Connect 4</h2>
        <p>live demo: <a href="http://rails-connect-four.herokuapp.com/">here</a> <br>
          blog post: <a href="https://medium.com/@shirleyl/connect-4-from-cli-to-rails-app-fc9cad0d948f">here</a>
        </p>
        <p>
          Connect Four built on Ruby on Rails, pure HTML and CSS.
        </p>
        <div class="project-info">
          <div class="built-with">
            <p class="blue">BUILT USING:</p>
              Ruby On Rails <br>
              Postgres <br>
              RESTful conventions
          </div>

          <div class="features">
            <p class="blue">KEY FEATURES:</p>
            <p>2-player gameplay<br>
              Post Request Cycle <br>
              Game End Logic <br>
          </div>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="title">
        <h2>CONTACT ME</h2>
      </div>
      <div id="links">
        <a href="mailto:shirley@shirleyl.in" target="_top"><b>shirley@shirleyl.in</b> <br></a>
        <a href="https://github.com/slin12" target="_blank">github</a> //
        <a href="https://medium.com/@shirleyl" target="_blank">blog</a> //
        <a href="https://www.linkedin.com/in/shirley-lin-06571467/" target="_blank">linkedin</a>

      </div>
    </div>

</div>
